body {
    background-color: white;

}



.signindiv {
    background-color: black;
    background-image: url("https://img.freepik.com/premium-vector/network-connection-background-abstract-style_23-2148875738.jpg");
    position: fixed;
    text-align: center;
    margin: 70px 0px 0px 450px;
    width: 700px;
    /* height: 400; */
    border: 5px solid white;
    padding: 150px;

}

.hdsignin {
    color: red;
    margin: -100px 0px 30px 15px;
}

label {
    color: white;
    margin: 0px 10px 0px 0px;


}

.email {
    margin: 0px 28px 0px 0px;
}

.inEmail {
    margin: 0px 0px 0px 15px;
}

.password {
    margin: 0px 0px 0px 6px;
}